$screen-sm-min: 576px;
@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
      @content;
  }
}

.row {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;

  &::after {
    content: '';
    clear: both;
    display: table;
  }
}

.input-name {
  border: 2px solid #b6b6b6;
}

.checkbox {
  display: block;
  width: 53px;
  height: 53px;
  @include sm {
    width: 24px;
    height: 24px;
  }
  border: 2px solid #b6b6b6;
  border-radius: 4px;
  position: relative;
  float: right;

  &.checked::after {
    position: absolute;
    left: 2px;
    top: -4px;
    content: '\2713';
    color: forestgreen;
    font-size: 4em;
    line-height: 1;
  }
}
