$screen-sm-min: 576px;
@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
      @content;
  }
}

.controls {
  clear: both;
  position: fixed;
  bottom: 1em;
  left: 0;
  right: 0;
  text-align: center;
  @include sm {
    position: static;
    margin-top: 5rem;
  }
}
